.topnavbar__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1340px;
    padding: 25px 10px;
}
.topnavbar__menu{
    display: flex;
    gap: 15px;
    align-items: center;
}
.topnavbar__menu a{
    color: #262626;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topnavbar__select{
    border: 1px solid transparent;
    padding: 0 5px;
}
