.single__imgs{
    display: flex;
    gap: 5px;
    padding-top: 20px;
}
.single{
    max-width: 1345px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}
.single__imgs div{
    border: 1px solid lightgray;
    padding: 6px;
}
.single__price{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 20px 0;
}
.singlepage{
    display: flex;
    justify-content: space-between;
    max-width: 1345px;
    margin: 0 auto;
    padding-top: 90px;
}
.single__box{
    display: flex;
    max-width: 1326px;
    justify-content: space-between;
    gap: 30px;
}
.single__title{
    color: #22262A;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    font-family: Poppins;
}
.share{
    padding-top: 25px;
    padding-bottom: 50px;
}
.single__text{
    color: #262626;
    font-weight: 400;
    font-size:14px;
    line-height: 21px;
    font-family: Poppins;
    padding-bottom: 15px;
}
.single__text span{
    padding-left: 40px;
    text-transform: capitalize
}
.cart__single{
    display: flex;
    gap: 40px;
}
.best__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #C1C8CE;
    padding-bottom: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.best__card{
   border: 2px solid #F1F3F4;
   border-radius: 5px;
   width: 255px;
   padding: 0;
}
.rating__best{
    padding-top: 40px;
    padding-bottom: 20px;
}
.add__btn{
    background-color: #BCDDFE;
    border: 1px solid #BCDDFE;
    padding: 10px;
    color: #33A0FF;
    font-size: 16px;
    font-family: Poppins;
}

@media screen and (max-width: 768px)  {
    .bestselling{
        display: none;
    }
    .tabs{
        display: none;
    }
    .single__box{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        padding: 20px;
        max-width: 750px;
    }
}
@media screen and (max-width: 1094px)  {
    .bestselling{
        display: none;
    }
    .tabs{
        display: none;
    }
    .single__box{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        padding: 20px;
        max-width: 1000px;
    }
    .big__img img{
        width: 320px;
    }
    .single__imgs img{
        width: 65px;
        height: 50px;
    }
    .share{
        display: none;
    }
}