.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}
.card {
    position: relative; 
    width: 300px;
  }
  
  .card:hover .btns {
    display: flex;
  }
.card__title{
    color: #223263;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    font-family: Poppins;
}
.card__price{
    color: #40BFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    font-family: Poppins;
}
.btns{
    display: none;
    position: absolute;
    top: 28%; 
    left: 38%; 
    transform: translate(-50%, -50%); 
    background-color: white;
    margin: 10px; 
    border: 1px solid white;
    width: 240px;
    height: 180px;
    justify-content: center;
    gap: 10px;
}
.btn__box{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.like__btn{
    border: 0 solid transparent;
    background-color:lightgray;
}
.btn__box button{
    color: #223263;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: Poppins;
    border: 1px solid white;
    background-color: white;
}
.btns button {
    color: #223263;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: Poppins;
    border: 0 solid transparent;
    background-color: transparent;
    margin: 0 5px; 
  }
.btn__box button:hover{
    color:#33A0FF;
    border-bottom: 3px solid #33A0FF;
}
@media screen and (max-width: 768px)  {
    .products{
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 10px;
    }
}