.search{
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    padding-top: 40px;
}
.search__input{
    border: 2px solid #BCDDFE;
    width: 450px;
    padding: 15px;
}
.search__btn{
    border: 2px solid #BCDDFE;
    width: 120px;
    padding: 15px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    font-family: Poppins;
    background-color: #BCDDFE;
}